body {
    margin:0px;
    padding:0px;
    overflow: hidden;
    background-color: black;
}
#background {
    position:absolute;
}
#backgroundCanvas {
    position:absolute;
    height:100%;
    width:100%;
}
#mainCanvas {
    position:absolute;
    height:100%;
    width:100%;
}
.menu {
    z-index: 9;
    position:absolute;
    background-color: black;
    border: 5px solid white;
    border-radius: 5px;
    padding:20px;
    color:white;
    display:none;
    font-size:24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.menu div {
    padding:10px;
}
#playerMenu {
    top:20px;
    left:20px;
}
#responseOptions {
    top:90px;
    right:20px;
}
#coinCount {
    top:15px;
    right:20px;
}
#priceList, #gearList {
    top:45px;
    left:25%;
    width:50%;
}
#dialogBox {
    left:25%;
    width:50%;
    top:70%;
    bottom:1%;
}
#textMessageDialog {
    left:25%;
    width:50%;
    top:55%;
    bottom:2px;
    font-weight: normal;
    font-size: 16px;
    padding:0px;
    display: none;
    flex-direction: column;
}
#textMessageOutput {
    box-sizing: border-box;
    height:100%;
    overflow-y: scroll;
    flex-grow: 1;
}
#textMessageInput {
    background-color: black;
    color:white;
    padding-left: 5px;
    width:100%;
    box-sizing: border-box;
    border:none;
}

img {
    display:none;
}

.text-message-from-me {
    color: #AAAAAA;
}

.menu-option {
    cursor:pointer;
}
#server-status {
    position:absolute;
    display: block;
    right:2px;
    top:2px;
    background-color:#000000A0;
    color:white;
}

#enter-your-name {
    z-index: 20;
}
